link(rel='stylesheet', href='/css/mosaic.css')

div
  div.content

    mixin thumb(item)
      div.span4.mosaic-block.item
        a.mosaic-overlay(href="http://codengage.com/item/#{item._id}")
          div.details
            h4 #{item.title}
            p #{item.desc}
            p #{item.tags}
        div.mosaic-backdrop
          img(src="#{item.media}")

    - var c = 0
    - if (posts.length > 0)
      div.well
        div.row
          - for (var i in posts) {
          mixin thumb(posts[i].value)
          - }

script
  jQuery(function($) {
    $('.item').mosaic({
      opacity: 0.8,
      animation: 'slide'
    });
  });
