div

  div.well
    div.content
      div.row
        div.span3
          div.thumbnail
            img.thumb(src="#{item.img_src}", alt)
          div.caption
          - if (item.parsed_data) {
            h5 #{item.parsed_data.name}
          - } else {
            h5 #{item.title}
          - }
            p #{item.category}
            p #{item.tags}
    - if (question.length > 0) {
      div.row
        div.span6
          div.question
            p #{question.question}
    - }
    - if (question.comments.length > 0) {
      div.row
        div.span6
          div.comments
            ul
              each val in question.comments
                li 
                  div(id="#{val.id}")
                    span: h3 #{val.message}
                    span: h5 #{val.from.name}
    -}
    - if (prices.length > 0) {
      div.row
        div.span6
          div.prices
            ul
              each val in prices
                li
                  span: h3 $#{val.price}
                  span
                    h6
                      a(href="#{val.url}") #{val.retailer}
    - }

script(src="js/bootstrap-transition.js")
script(src="js/bootstrap-collapse.js")